<insert> import { PlayState } from '../../simulation'; </insert>

<link rel="stylesheet" href="./game.style.scss" />

<div class="game-top">
  <if _="$.simulation.gameState.playState === PlayState.Playing">
    <p class="game-text" style="color: var(--color-player1)">
      ${ $.context.gameInfo.playerNames[0] }: ${ $.context.simulation.gameState.playerScores[0] }
    </p>
    <p class="game-text" style="color: var(--color-player2)">
      ${ $.context.gameInfo.playerNames[1] }: ${ $.context.simulation.gameState.playerScores[1] }
    </p>
    <if _="$.context.boardEvaluation != null">
      <p class="game-text">Evaluation: ${ $.context.boardEvaluation?.bestEvaluation }</p>
    </if>
  </if>
  <else>
    <p #color="$.gameStateTextColor" class="game-text">${ $.gameStateText }</p>
  </else>
</div>

<div :ref="$.context.gridContainer" class="grid-container">
  <grid />
</div>

<div class="game-bottom">
  <if _="$.simulation.gameState.playState === PlayState.Playing">
    <p #color="$.gameTurnTextColor" class="game-text">${ $.gameTurnText }</p>
  </if>
  <else>
    <p class="game-end-button" @click="$.context.router.refresh()">REMATCH</p>
    <p class="game-end-button" @click="$.context.router.goto({ route: 'menu' })">MENU</p>
  </else>
</div>
